extends layout

block content
  h1= title
  p Por favor llene cada una de las casillas para el #{title}
  form(action="/tutors/tutor", method="post")
    div.input
      br
      span.label Nombre 
      br
      input(type="text", name="tutorName")
      br
      span.label Apellido 
      br
      input(type="text", name="tutorLastName")
      br
      span.label Correo electronico 
      br
      input(type="text", name="tutorEmail")
      br
      span.label Contrasena del tutor
      br
      input(type="password", name="tutorPassword")
      br
      span.label Codigo del tutor
      br
      input(type="number", name="tutorCod")
      br
      span.label Numero de identificacion del tutor
      br
      input(type="number", name="tutorIdent")
      br
      span.label Departamento
      select(id='selectDepartamento', name="tutorDep")
          option(value='mecanica') Mecanica
          option(value='materiales') Materiales
      br
      span.label Numero Celular del tutor
      br
      input(type="number", name="tutorCellPhone")
      br
      span.label Numero telefonico convencional del tutor
      br
      input(type="number", name="tutorPhone")
      br
    div.actions
      input(type="submit", value="Enviar")



     