extends layout
block header
  h1= title
block content
  h1
  p #{welcome}
  p
    | Esta plataforma esta creada para que puedas estar m치s activo con la FIM
  p
    | Si necesitas informaci칩n, consultas sobre tus tutorias o llenar alguna encuesta, por favor Ingresa, y si eres nuevo Registrate!! estamos para hacer las cosas mucho m치s facil.
block sidebar
  h1
  p
    | Menu
  li
    a(href='/createStudent') Crear cuenta estudiante.
  li
    a(href='/sessions/login') Inicia sesi칩n.


          








