doctype html
html
  head
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    meta(name="generator" content="Bootply")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="./javascripts/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="./javascripts/bootstrap.min.js")
    script(src="./javascripts/jquery.backstretch.min.js")
    script(src="./javascripts/scripts.js")