extends layout

block header
  h1= title

block content

    p.subheading Por favor llena los espacios para iniciar sesion
    form(action="/sessions/loginAuthenticate", method="post")
      div.input
        br
        label Mail del usuario
        br
        input(type="text", name="userEmail")
        br
        label Contrasena
        br
        input(type="password", name="userPass")
      div.actions
        input(type="submit", value="Ingresar")
block sidebar
  h1
  p
    | Menu
  li
    a(href='/createStudent') Crear cuenta estudiante
  li
    a(href='/createTutor') Crear cuenta tutor
