extends layout

block content
	div(id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true")
		div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal" aria-hidden="true") x
				h1(class="text-center") Autenticación
			div(class="modal-body")
				form(class="form col-md-12 center-block" action="/perfil")
					div(class="form-group")
						input(type="text" class="form-control input-lg" placeholder="Email")
					div(class="form-group")
						input(type="password" class="form-control input-lg" placeholder="Password")
					div(class="form-group")
						button(class="btn btn-primary btn-lg btn-block") Enviar
						span(class="pull-right")
							a(href="/register") Registrar
						span
							a(href="#") Ayuda
			div(class="modal-footer")
				div(class="col-md-12")
				button(class="btn" data-dismiss="modal" aria-hidden="true") Cancelar

