body
    background #f1eee5
 
.contenedorprincipal
    width 900px
    margin 0 auto
 
h1
    font-family 'Fjalla One', sans-serif
 
p
    font-family 'Open Sans', sans-serif
    font-size 14px
    font-weight 300

li
    font-family 'Open Sans', sans-serif
    font-size 14px
    font-weight 300

a
    text-decoration none
    color white
    border 2px #0d81d5 solid
    background-color #0d81d5
    border-radius 15px
    box-shadow 0px 0px 5px 0px #000000

 
header h1
    width 100%
    margin 10px 0 15px 0
    text-transform uppercase
 
.contenedorinfo
    float left
    width 70%
 
.contenedorsidebar
    float left
    width 30%
 
.info
    background #1d3859
    border-radius 10px
    margin 0px 10px
    padding 5px 15px
    color white
 
#sidebar
    background #7da336
    border-radius 10px
    margin 0px 10px
    padding 5px 15px
    color white

 
footer
    position relative
 
.contenedorpie
    float left
    width 100%
    margin 5px 0
    border-radius 10px
    background #0d81d5
    color white
 
.contenedorpie p
    padding 5px 15px
    color #dfdfdf
table
    font-size 15px







